.container {
    margin: 2 2;
}

#generate-pdf {
    width: 21;
}

DataTable {
    margin-top: 2
}

.label {
    display: block;
    content-align: center middle;
    height: 3;
}

#phase {
    width: 20;
}

#year {
    width: 20;
}

Button, Select, Input {
    margin-right: 1;
}
